.about {
    text-align: center;
    height: 700px;
    width: 100%;
    position: relative;
    overflow: hidden;

    .video-bg {
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        height: auto;
        width: auto;
        min-width: 100%;
        min-height: 100%;
        z-index: -100;
    }

    .about-wrap {
        background: rgba(192, 177, 191, 0.5); //linear-gradient(to right, rgba(98, 255, 242, 0.3), rgba(59, 255, 179, 0.4));
        color: #fff;
        height: 100%;
        width: 100%;
        padding-top: 250px;
    }

    @media all and (max-width: 750px) {
        height: 50%;

        .about-wrap {
            padding-top: 100px;
        }
    }
}