header {
    width: 100%;
    height: 50px;
    padding: 30px;

    .menu {    
        background-color: #000;
        border-radius: 5px;
        text-align: center;
        width: 300px;
        display: none;
    

        .navbar {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            list-style: none;
            height: 50px;
            align-items: center;

            li a {
                color: #fff;
                text-decoration: none;
            }
        }
    }

    .show-menu {
        display: block;
    }
}