.hero {
    background: #fff url('../img/bg.png') center center no-repeat;
    background-attachment: fixed;
    height: 100%;

    .inner-hero {
        display: flex;
        height: 100%;
        justify-content: flex-start;
        align-items: flex-end;

        .intro {
            padding: 100px;

            .intro-name {
                color: #b6b6b6;
                /*letter-spacing: 8px; */
                .name-bold {
                    font-weight: 400;
                    color: #525252;
                }
            }

            .intro-desc {
                font-size: 1em;
                letter-spacing: 3px;
            }

            @media all and (max-height: 600px) {
                margin-bottom: 0;
            }
        }

        @media all and (max-width: 950px) {
            justify-content: center;
            .intro {
                text-align: center;
                padding: 0;
            }
        }
    }
}
