@import './fonts';

$fullWidth: 100%;

html,
body {
	font-family: 'Source Sans Pro', sans-serif;
}

.s-container {
	height: 100vh;
	overflow-x: hidden;
	width: 100vw;
}

.full-width {
	width: $fullWidth;
}

.half-width {
	width: $fullWidth / 2;
}

::-webkit-scrollbar {
	background-color: #959595;
	width: 6px;
}

::-webkit-scrollbar-thumb {
	background-color: #9dfaed;
}

.project-writeup-wrap::-webkit-scrollbar {
	background-color: #919191;
	width: 6px;
}

.project-writeup-wrap::-webkit-scrollbar-thumb {
	background-color: #6ddbb7;
}
